    .story {
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 3rem 8rem rgba($color-black, .1);
        background-color: rgba($color-white, .6);
        border-radius: 3px;
        padding: 6rem;
        padding-left: 9rem;
        font-size: $default-font-size;
        transform: skewX(-12deg);
        @include respond(tab-port) {
            width: 100%;
            padding: 4rem;
            padding-left: 7rem;
        }
        @include respond(phone) {
            transform: skewX(0);
        }
        &__shape {
            width: 15rem;
            height: 15rem;
            background-color: yellow;
            float: left;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%); // text follows image (circle)
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%); //turn into a circle 
            transform: translateX(-3rem) skewX(12deg);
            position: relative;
            overflow: hidden;
            @supports(clip-path: circle(50% at 50% 50%)) or (-webkit-clip-path: circle(50% at 50% 50%)) {
                -webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
            }
            @include respond(phone) {
                transform: translateX(-3rem) skewX(0);
            }
        }
        &__img {
            height: 100%;
            transform: translateX(-4rem) scale(1.4);
            transition: all .5s;
        }
        &__text {
            transform: skewX(12deg); // horizontal distortion + angle in the horizontal direction
            @include respond(phone) {
                transform: skewX(0);
            }
        }
        &__caption {
            position: absolute;
            top: 50%; // centering content 
            left: 50%; // centering content 
            transform: translate(-50%, 20%); // centering content 
            color: $color-white;
            text-transform: uppercase;
            font-size: 1.7rem;
            text-align: center;
            opacity: 0;
            transition: all .5s;
            -webkit-backface-visibility: hidden; // hide back face of the element
            backface-visibility: hidden;
        }
        &:hover &__caption {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        &:hover &__img {
            transform: translateX(-4rem) scale(1);
            filter: blur(3px) brightness(80%); // blur and dark filter
        }
    }